.notice {
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 14px;
  background-color: #f0f9eb;
  color: #3a7a1b;
}

.alert {
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 14px;
  background-color: #fef0f0;
  color: #f56c6c;
}