@import 'variable';

.content_wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: $main-color-light;

  .content {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 480px;
    height: 100vh;
    background-color: $white;
    margin: 0 auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .main {
      padding: 32px 20px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $main-color;
      height: 52px;
      padding: 0 20px;
    }

    .header_logo_image {
      width: 120px;
    }

    .header_setting_image {
      width: 24px;
    }

    .header_setting_link {
      display: block;
      padding: 12px;
    }

    .footer {
      position: sticky;
      top: 100vh;
      background-color: $main-color;
      text-align: center;
      width: 100%;
      line-height: 18px;
      padding: 8px;
      font-size: 12px;
      color: $white;

      .terms_and_policies {
        display: flex;
        justify-content: space-around;
        max-width: 240px;
        margin: 16px auto;
        text-decoration: underline;
      }

      .terms_and_policies_link {
        transition: all 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
