.log_page_title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 36px;
  line-height: 32px;
}

.log_table {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  margin-bottom: 36px;
}

.log_table_header {
  border: 1px solid #e0e0e0;
  padding: 8px;
  font-weight: bold;
  background-color: #e0e0e0;
}

.log_table_data {
  border: 1px solid #e0e0e0;
  padding: 8px;
  vertical-align: middle;
}

.log_table_link {
  display: block;
  text-align: center;
  background-color: skyblue;
  border-radius: 4px;
  padding: 12px 4px;
}

.log_blank_text {
  text-align: center;
  margin: 64px 0;
}

.log_create_link_button {
  display: block;
  font-size: 32px;
  line-height: 64px;
  background-color: skyblue;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
