@import 'variable';

.log_page_title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 36px;
  line-height: 32px;
}

.log_calendar {
  margin-bottom: 36px;

  .calendar-heading {
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px;

    .calendar-title {
      margin: 0 8px;
    }
  }

  .log_calendar_item {
    text-align: center;

    .log_calendar_item_icon {
      font-size: 18px;
      padding: 4px 2px;
    }

    .log_calendar_item_score {
      font-size: 12px;
    }
  }
}

.log_table {
  width: 100%;
  border: 1px solid $border-color;
  border-collapse: collapse;
  margin-bottom: 36px;
}

.log_table_header {
  border: 1px solid $border-color;
  padding: 8px;
  font-weight: bold;
  background-color: $border-color;
}

.log_table_data {
  border: 1px solid $border-color;
  padding: 8px;
  vertical-align: middle;
}

.log_table_link {
  display: block;
  text-align: center;
  background-color: $main-color;
  border-radius: 4px;
  padding: 12px 4px;
  color: $white;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.log_blank_text_area {
  margin-bottom: 36px;

  .log_blank_text {
    text-align: center;
    margin: 16px 0;
  }
}

.log_create_link_button {
  display: block;
  font-size: 16px;
  padding: 16px;
  background-color: $main-color;
  max-width: 280px;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  color: $white;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }

  .fa-plus {
    margin-right: 8px;
  }
}

.log_message_to_user {
  line-height: 28px;
  margin-bottom: 36px;
  font-size: 16px;
}

.log_form_date {
  margin-bottom: 16px;

  .log_form_date_label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .log_form_date_field {
    display: block;
    width: 100%;
    border-bottom: 1px solid $border-color;
    padding-bottom: 8px;
    position: relative;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.form_item_detail {
  margin-bottom: 8px;
  font-weight: bold;
}

.form_item_contents {
  margin-bottom: 16px;
}

.form_radio_button {
  display: none;
}

.form_radio_button:checked + .form_radio_label {
  background-color: $main-color;
  color: $white;
}

.form_item_buttons {
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  margin: 0 auto;
}

.form_radio_label {
  transition: all 0.3s ease 0s;
  margin: 8px;
  border: 1px solid $button-color;
  color: $button-color;
  display: block;
  padding: 12px;
  border-radius: 4px;
  width: 100px;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }

  .fa-face-laugh {
    margin-right: 4px;
  }

  .fa-face-meh {
    margin-right: 4px;
  }
}

.log_submit_button {
  display: block;
  width: 100%;
  text-align: center;
  max-width: 240px;
  margin: 0 auto;
  background-color: $main-color;
  padding: 16px 8px;
  border-radius: 4px;
  margin-bottom: 36px;
  color: $white;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.log_delete_link {
  display: block;
  text-align: center;
  max-width: 120px;
  margin: 0 auto;
  margin-bottom: 36px;
  color: $text-color-light;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.log_calendar .simple-calendar th {
  padding: 6px;
  border-bottom: 1px solid $calendar-header-border-color;
  border-collapse: collapse;
  border-left: 1px solid $calendar-header-border-color;
  border-right: 1px solid $calendar-header-border-color;
  border-top: 1px solid $calendar-header-border-color;
  box-sizing: border-box;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  background-color: $calendar-header-bg-color;
  color: $calendar-header-text-color;
}

.log_calendar .simple-calendar td {
  padding: 6px;
  vertical-align: top;
  width: 14%;
  border: 1px solid $calendar-data-border-color;
  border-top-color: $calendar-data-border-color;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: $calendar-data-border-color;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: $calendar-data-border-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: $calendar-data-border-color;
  border-left-style: solid;
  border-left-width: 1px;
  font-size: 12px;
}

.log_calendar .simple-calendar .prev-month {
  background-color: $calendar-prev-and-next-bg-color;
}

.log_calendar .simple-calendar .next-month {
  background-color: $calendar-prev-and-next-bg-color;
}

.log_calendar .simple-calendar .today {
  background-color: $calendar-today-bg-color;
  box-shadow: 0 0 0 1px $calendar-today-shadow-color inset;
}

element.style {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $calendar-elemnt-bg-color;
  border-radius: 4px;
  font-size: 16px;
  color: $calendar-elemnt-text-color;
}

.log_calendar .calendar-heading {
  text-align: center;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log_calendar .calendar-heading .calendar-title {
  font-size: 18px;
}

.fa-angle-left {
  padding: 8px 12px;
  border-radius: 4px;
  background: $main-color;
  color: $white;
}

.fa-angle-right {
  padding: 8px 12px;
  border-radius: 4px;
  background: $main-color;
  color: $white;
}
