@import 'variable';

.policy {
  margin-bottom: 36px;
  line-height: 1.6;
}

.policy_intro {
  margin-bottom: 36px;
  line-height: 1.8;
}

.policy_title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 36px;
}

.policy_description {
  margin-bottom: 16px;
}

.policy_section_title {
  font-weight: bold;
  margin-bottom: 8px;
}

.policy_section_ol {
  list-style-type: decimal;

  .policy_section_ol_item {
    margin-left: 24px;
    margin-bottom: 8px;
  }

  .policy_section_ol_sub_item {
    margin-left: 48px;
    margin-bottom: 8px;
    list-style-type: lower-alpha;
  }

  .policy_section_ol_sub_item_roman {
    margin-left: 72px;
    margin-bottom: 8px;
    list-style-type: lower-roman;
  }
}

.policy_link {
  text-decoration: underline;
}
