@import 'variable';

.top_logo {
  margin-bottom: 16px;

  .top_logo_image {
    display: block;
    margin: 0 auto;
    max-width: 200px;
  }
}

.top_title {
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  margin-bottom: 36px;
  color: $main-color;
  letter-spacing: 1px;
}

.top_register_link {
  max-width: 280px;
  margin: 0 auto;
  background-color: $main-color;
  color: $white;
  display: block;
  text-align: center;
  margin-bottom: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }
}

.top_register_link_button {
  display: block;
  padding: 16px 24px;
}

.top_login_link {
  .top_login_check_text {
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
  }

  .top_login_text_link {
    display: block;
    text-decoration: underline;
    color: $main-color;
    text-align: center;
    font-size: 16px;
    margin-bottom: 36px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.section_subtitle {
  margin-bottom: 8px;
  color: $sub-title-text-color;
  letter-spacing: 1px;
  font-size: 12px;
}

.section_title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 16px;
  color: $main-color;
  letter-spacing: 1px;
}

.top_about {
  padding: 0 28px;

  .top_about_summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    .top_about_summary_text {
      font-size: 14px;
      line-height: 1.6;
    }

    .top_about_summary_image {
      color: $main-color;
      margin-left: 24px;
    }
  }
}

.top_recommend {
  padding: 0 28px;
  
  .top_recommend_summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;

    .top_recommend_summary_text {
      line-height: 28px;

      .bold {
        font-weight: bold;
        margin-bottom: 16px;
        background: $main-color-light;
        border-radius: 8px;
        color: $main-color-dark;
        padding: 16px;
      }

      .regular {
        font-size: 14px;
        line-height: 1.6;
      }
    }

    .top_recommend_summary_image {
      color: $main-color;
      margin-left: 24px;
    }
  }
}
