.user_form_field {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 0;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 16px;
  color: #757575;
}

.user_form_info_text {
  text-align: center;
}

.remember_field {
  margin-bottom: 16px;
}

.user_submit_button {
  display: block;
  width: 100%;
  text-align: center;
  max-width: 240px;
  margin: 0 auto;
  background-color: skyblue;
  padding: 16px 8px;
  border-radius: 4px;
  margin-bottom: 16px;
}
