$main-color: #8BA7D5;
$main-color-light: #D5E0F1;
$main-color-dark: #647CA5;
$sub-color-red: #E38692;
$white: #FFFFFF;
$text-color: #595959;
$text-color-light: #D6D6D6;
$sub-title-text-color: #aaaaaa;
$border-color: #EAEAEA;
$background-base-color: #FCFCFC;
$calendar-header-border-color: #C3D0E5;
$calendar-header-bg-color: #E3EAF5;
$calendar-header-text-color: #506485;
$calendar-data-border-color: #DDDDDD;
$calendar-prev-and-next-bg-color: #F5F5F5;
$calendar-today-bg-color: #FBFBF0;
$calendar-today-shadow-color: #EAEA97;
$calendar-elemnt-bg-color: #8CA7D5;
$calendar-elemnt-text-color: #FCFCFC;
