$main-color: #8BA7D5;
$main-color-light: #D5E0F1;
$sub-color-red: #E38692;
$white: #FFFFFF;
$text-color: #595959;
$text-color-light: #D6D6D6;
$border-color: #EAEAEA;
$background-base-color: #FCFCFC;
$button-color: #647CA5;
