- set_meta_tags title: '睡眠習慣ログの編集', description: 'Sleepleの睡眠習慣ログの編集ページです。ご自身の睡眠習慣の情報を編集できます。'

h1.log_page_title = '睡眠習慣ログの編集'
= render 'form', log: @log, url: log_path(@log)
= link_to '削除', log_path(@log), method: :delete,  data: { confirm: '本当に削除しますか？'}, class: 'log_delete_button'
