p = "#{@resource.email}さん"

p = 'いつもSleepleをご利用いただきましてありがとうございます。'

p = 'パスワード再設定につきましてご案内いたします。'

p = '下記のリンクをクリックし、新たにパスワードをご設定ください。'

= link_to 'パスワードを再設定する（再設定用のページに遷移します）', edit_password_url(@resource, reset_password_token: @token)

p = 'もしパスワード変更の必要がないようでしたら、こちらのメールは無視していただいて構いません。'
p = 'なお、パスワードは上記のリンクにアクセスし、新しいものを設定するまで変更されません。'
